
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@1&display=swap');


.grilla{
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.version{
    text-align: center;
    color: #86868B;
    margin: 0.5rem 0rem 0.2rem 0rem;
}

.titulo{
    color: white;
    margin: 2px 0px 1px 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.error{
    color: red;
    text-align: center;
}

 @media (max-width: 560px){
    .grilla{
        grid-template-columns: 100%;
    }
}