
 

.bakgroun{
     background-color: #2b2b2b;
}

.media{
  
    padding: 2px;
    margin: 2px;
     
   }

.titulo{
    text-align: center;
   }

.scroll{
    /*overflow: scroll;*/
    height: 100px;
    
}

@media (max-width: 560px){
     .scroll{
        width: 80%;
     }

    .media{
        width: 90%;
          
    }
}