

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}


.searchBox{
    position: relative;
}

.searchButton{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;

    border: none;
    background: none;
}


.search{
    height: 2rem;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
     
      
}

/*@media (max-width: 560px){
    .searchBox{
        width: 95%;
         
         
    }
}*/